# AI Engine Environment Variables
PORT=8000
IMD_API_KEY=ccc9844f66c51ee4e61818fd6ffbf9934f14b5345bce3445fa2aa8b1371cb8c3
IMD_BASE_URL=https://api.imd.gov.in/api/v1
IMD_JWT_TOKEN=
OPENWEATHER_API_KEY=
OPENTOPOGRAPHY_API_KEY=
